---
/**
 * Layout.astro
 *
 * This is the main layout component for the portfolio website of Andres Marulanda.
 *
 * - Sets the document type to HTML5.
 * - Defines the language of the document as English.
 * - Sets the character encoding to UTF-8.
 * - Ensures the viewport is responsive to different screen sizes.
 * - Links to the favicon of the website.
 * - Includes a meta tag for the generator used (Astro).
 * - Sets the title of the webpage to "Portfolio Andres Marulanda".
 * - Uses a <slot /> element to render child content.
 *
 * The style section:
 * - Removes default margin from html and body elements.
 * - Sets the width and height of html and body elements to 100%.
 */
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio Andres Marulanda</title>
	</head>
	<body>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
